// HTML elements
$h1_font-size: 2.5rem;
$h2_font-size: 2rem;
$h3_font-size: 1.75rem;
$h4_font-size: 1.5rem;
$h5_font-size: 1.25rem;
$h6_font-size: 1rem;
$root_size: 16px;

// Colors
$main-color: #000000;
$secondary-color: #FFFFFF;